<div class="container mt-3">
            <h2 class="text-center border-bottom">Recipes</h2>
            <div class="media border p-3 mt-3">
                <img src="https://www.edamam.com/web-img/b93/b933e6cfcde7382a58f0aac06322b4bf.jpg" alt="Recipe image" class="mr-3 rounded" style="width:80px;">
                <div class="media-body align-self-center">
                    <a href="http://ohsheglows.com/2010/05/29/the-hidden-dates/"><h4>Crunchy Chia Banana Soft Serve</h4>
                    </a>
                </div>
            </div>
            <div class="media border p-3 mt-3">
                <img src="https://www.edamam.com/web-img/34a/34a015d1803c5f0cce0dedaa6703eca5.jpeg" alt="Recipe image" class="mr-3 rounded" style="width:80px;">
                <div class="media-body align-self-center">
                    <a href="https://www.foodnetwork.com/recipes/banana-bread-biscotti-3642262"><h4>Banana Bread Biscotti</h4>
                    </a>
                </div>
            </div>
        </div>  
